doctype html
html
    head
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        title= title
        link(rel="stylesheet" href=(appBaseUrl + '/styles/font-awesome.css'))
        link(rel="stylesheet" href=(appBaseUrl + '/styles/style.css'))
    body
        .nav
        .contents
        script(type='text/javascript' src=(appBaseUrl + '/scripts/example.js'))